@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400..700&display=swap");

/* reset */
:root {
  --font-rw: 400;
  --font-mw: 500;
  --font-bw: 600;
  --font-ebw: 700;
  --bg-color: #e0e0e0;
  --shadow-color: rgba(96, 96, 96, 0.25);
  --content-color: #606060;
  --sub-color: #a0a0a0;
  --black-color: #000000;
  --white-color: #fff
}

html {
  font-family: "Noto Sans KR";
  font-size: 10px;
  color: var(--content-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a,
button {
  display: block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--content-color);
}

button {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
}

input:focus, textarea:focus {
  outline: none;
}

input, textarea {
  color: var(--content-color);
  display: block;
}

img {
  vertical-align: top;
}

i {
  color: var(--content-color);
}

.a11y-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

#search {
  background-color: var(--white-color);
  position: relative;
  & > form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
  }

  .searchWrap {
    width: 35%;
    padding: 1rem;
    border: 1px solid var(--content-color);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;

    & input {
      border: none;
      font-size: 1.4rem;
      width: 100%;
    }
  }

  .searchListWrap {
    position: absolute;
    width: 100%;
    top: 71px;
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
    box-shadow: 0 2px 4px var(--shadow-color);
    overflow-y: auto;
    
    & ul {
      width: 35%;
      max-height: 40rem;

      & li:not(:first-child) {
        border-top: 1px solid var(--shadow-color);
      }
      & a {
        padding-block: 2rem;
        display: flex;
        gap: 0.4rem;
        align-items: center;
      }

      & img {
        width: 4rem;
        aspect-ratio: 1 / 1;
      }

      & span, strong {
        font-size: 1.2rem;
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.6rem;
  padding-inline: 1.6rem;
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  main {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2rem;
    padding-inline: 2rem;
  }
}

@media screen and (min-width: 769px) {
  main {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2.4rem;
    padding-inline: 2.4rem;
  }
}

.topBtn {
  position: fixed;
  right: 6rem;
  bottom: 6rem;
  width: 6rem;
  height: 6rem;
  background-color: var(--sub-color);
  box-shadow: 0 4px 6px var(--shadow-color);
  border-radius: 50%;
  & i {
    font-size: 2.4rem;
    color: var(--white-color);
  }
}

footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 4px var(--shadow-color);
  margin-top: 4rem;
  & p {
    text-align: center;
    font-size: 1.4rem;
  }
}