#header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px var(--shadow-color);
  a {
    padding: 2rem;
    font-weight: var(--font-ebw);
  }
}

/* main layout */
#notice,
#search,
#content {
  grid-column: 1 / -1;
}

#notice {
  margin-inline: -1.6rem;
  position: relative;

  .noticeWrap {
    width: 100%;
    height: 50vh;
    max-height: 50vh;
    position: relative;

    & img {
      width: 100%;
      height: 50vh;
      max-height: 50vh;
      object-fit: cover;
    }

    & .noticeTitle {
      position: absolute;
      width: 100%;
      height: 50vh;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);

      & h2 {
        position: absolute;
        bottom: 4rem;
        left: 4rem;
        font-weight: var(--font-ebw);
        color: var(--white-color);
        z-index: 0;
      }

      & h2::before {
        z-index: -1;
        content: attr(data-content);
        position: absolute;
        left: 0;
        -webkit-text-stroke: 4px var(--sub-color);
        white-space: pre-wrap;
        width: 100%;
      }
    }
  }
}

#search {
  margin-inline: -1.6rem;
  height: 10rem;
  max-height: 10rem;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--shadow-color);
  margin-top: 4rem;

  .filterBtn,
  .layoutBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .filterBtn {
    right: 4rem;
  }

  .contentLength {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    font-size: 1.4rem;
  }

  .layoutBtn {
    left: 4rem;
    display: flex;
    gap: 0.4rem;

    & button {
      width: 4rem;
      background-color: var(--white-color);
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;

      & i {
        font-size: 1.6rem;
      }
    }

    & button.active {
      background-color: var(--sub-color);

      & i {
        color: var(--white-color);
      }
    }
  }
}

#content {
  position: relative;
  padding-block: 4rem;
  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 2rem;
  }

  & .gridItem {
    box-shadow: 0 4px 6px var(--sub-color);
    aspect-ratio: 1 / 1.3;

    & a {
      height: 100%;
    }

    .itemWrap {
      height: 100%;
      & div {
        height: 50%;
      }

      .itemBg {
        position: relative;
        background-color: var(--sub-color);
        padding: 5rem 4rem 0 4rem;
        transition: background-color 0.3s ease-in-out;

        & img {
          width: 100%;
          aspect-ratio: 1 / 1;
          scale: 1;
          transition: scale 0.3s ease-in-out;
        }

        & strong {
          position: absolute;
          top: 1.2rem;
          left: 50%;
          transform: translateX(-50%);
          font-size: 1.6rem;
          color: var(--white-color);
          z-index: 0;
        }

        strong::before {
          z-index: -1;
          content: attr(data-content);
          position: absolute;
          left: 0;
          -webkit-text-stroke: 4px var(--sub-color);
        }
      }

      .itemContent {
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;

        & h3 {
          font-size: 2rem;
          font-weight: var(--font-ebw);
          text-align: center;
        }

        & p {
          font-size: 1.6rem;
          color: var(--sub-color);
          font-weight: var(--font-mw);
        }
      }
    }

    .itemWrap:hover {
      & .itemBg img {
        scale: 1.1;
        filter: drop-shadow(5px 5px 15px #b794f4);
      }
    }

    .itemWrap:hover .itemBg {
      background-color: var(--bg);
    }
  }

  & .listItem {
    padding: 1rem;
    box-shadow: 0 4px 6px var(--shadow-color);

    & .itemWrap {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    & img {
      width: 4rem;
      vertical-align: top;
    }

    & .itemContent {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      & h3 {
        font-size: 1.4rem;
        font-weight: var(--font-ebw);
        text-align: left;
        word-break: keep-all;
      }

      & p {
        min-width: 4rem;
        font-size: 1.2rem;
        color: var(--sub-color);
        font-weight: var(--font-mw);
      }
    }
  }

  & .warnItem {
    aspect-ratio: 1 / 0.3;
    box-shadow: none;
    grid-column: 1 / -1;

    & strong {
      display: block;
      font-size: 1.8rem;
      color: #ff0000;
      text-align: center;
    }
  }
}

#filter,
#roulette {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(160, 160, 160, 0.5);
  top: 0;
  left: 0;
  z-index: 20;
  overflow-y: hidden;
  display: none;
}

#filter.active,
#roulette.active {
  display: block;
}

.filterWrap,
.rouletteWrap {
  width: 40rem;
  min-height: auto;
  max-height: calc(100% - 4rem);
  background-color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  overflow-y: auto;
}

.filterWrap {
  padding: 2rem;

  & div {
    margin-top: 4rem;
  }

  & h2 {
    text-align: center;
    font-size: 2rem;
  }

  & h3 {
    font-size: 1.6rem;
  }

  & ul {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;

    & li {
      width: 100%;
    }

    & label {
      width: 100%;
      border-radius: 1rem;
      border: 1px solid var(--content-color);
      display: block;
      padding: 1rem;
      border-radius: 1rem;
      font-size: 1.4rem;
      text-align: center;
      font-weight: var(--font-bw);
      cursor: pointer;
    }

    & input:checked + label {
      background-color: var(--content-color);
      color: var(--white-color);
    }

    & abbr {
      text-decoration: none;
    }
  }

  & button {
    position: absolute;
    top: 2rem;
    right: 2rem;

    & i {
      font-size: 1.4rem;
    }
  }
}

.rouletteWrap {
  padding: 4rem 2rem 2rem 2rem;

  & .rouletteState {
    margin-bottom: 4rem;

    & ul {
      display: flex;
      width: 100%;
      border-bottom: 1px solid var(--content-color);

      & > li {
        width: 100%;
        padding-block: 1rem;

        & button {
          width: 100%;
        }
      }

      & > li.active {
        background-color: var(--sub-color);
        & > button {
          color: var(--white-color);
        }
      }
    }
  }

  & .closeBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;

    & i {
      font-size: 1.4rem;
    }
  }
}

.teamGen {
  & .total {
    text-align: right;
    color: var(--content-color);
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  & button {
    padding: 2rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid var(--content-color);
    color: var(--content-color);
    font-weight: var(--font-mw);
  }

  & .team-inputWrap {
    & textarea {
      resize: none;
      width: 100%;
      border-radius: 1rem;
      min-height: 20rem;
      padding: 2rem;
      font-size: 1.4rem;
      font-weight: var(--font-bw);
    }

    & textarea::placeholder {
      color: var(--sub-color);
    }
    & label {
      display: block;
      margin-top: 2rem;
      font-size: 1.4rem;

      & input {
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid var(--content-color);
        font-size: 1.4rem;
        font-weight: var(--font-bw);
      }

      & input::placeholder {
        color: var(--sub-color);
      }
    }

    & .team-btnWrap {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;
      & button {
        width: 100%;
      }

      .team-resetBtn {
        border-color: #ff0000;
        color: #ff0000;
      }
    }
  }

  & .team-result {
    margin-top: 4rem;

    & .team-resultBtn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      & h4 {
        font-size: 1.4rem;
      }
    }

    & ul {
      padding: 2rem 1rem;
    }

    & li {
      padding: 2rem;
      border-radius: 1rem;
      border: 1px solid var(--content-color);
      box-shadow: 0 4px 6px var(--shadow-color);
    }
    & li ~ li {
      margin-top: 2rem;
    }
    & li > strong {
      width: 2rem;
      font-size: 1.4rem;
    }
    & li > div {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;
      & p {
        padding: 1rem;
        border: 1px solid var(--content-color);
        border-radius: 1rem;
        color: var(--content-color);
        font-size: 1.4rem;
        font-weight: var(--font-bw);
      }
    }
  }
}

.circleBtn {
  width: 6rem;
  height: 6rem;
  position: fixed;
  right: 6rem;
  bottom: 14rem;
  border-radius: 50%;
  background-color: var(--sub-color);
  box-shadow: 0 4px 6px var(--shadow-color);
  & .circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.2rem solid var(--white-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & div:nth-child(1) {
      border-radius: 100% 0 0 0;
      border-bottom: 1px solid var(--white-color);
      background-color: var(--white-color);
    }
    & div:nth-child(2) {
      border-radius: 0 100% 0 0;
      border-left: 1px solid var(--white-color);
      border-bottom: 1px solid var(--white-color);
    }
    & div:nth-child(3) {
      border-radius: 0 0 0 100%;
    }
    & div:nth-child(4) {
      border-left: 1px solid var(--white-color);
      border-radius: 0 0 100% 0;
      background-color: var(--white-color);
    }
  }
}

.circleBtn:hover .circle {
  animation: rotate_circle 1s linear infinite;
}

@keyframes rotate_circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
