/* 레이아웃 미디어쿼리 */
/* Home-main>search, content / Detail-main>navigate */
@media screen and (min-width: 481px) and (max-width: 768px) {
  #notice,
  #search {
    margin-inline: -2rem;
  }
}

@media screen and (min-width: 769px) {
  #notice,
  #search {
    margin-inline: -2.4rem;
  }
}

/* 컨텐츠 미디어쿼리 */
@media screen and (min-width: 769px) {
  /* main.css */
  #filter {
    .filterWrap {
      width: 60rem;
      padding: 4rem;
    }
  }

  /* detail.css */
  #basicInfo {
    & ul {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "type species nickname"
        "element ailment weakEl";
    }
  }

  #seriesInfo {
    & ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  #relate {
    & ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* 태블릿 ~ 노트북(481px~768px and 769px~1024px) */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  section h2 {
    font-size: 2rem;
  }

  #search {
    .searchListWrap {
      & ul {
        & span,
        strong {
          font-size: 1.4rem;
        }
      }
    }
  }

  #navigate {
    & nav {
      a {
        font-size: 1.6rem;
      }
    }
  }

  #image {
    & p {
      font-size: 1.8rem;
    }
  }

  #basicInfo {
    .infoList > li {
      & h3 {
        font-size: 1.8rem;
      }

      & p {
        font-size: 1.4rem;
      }

      & span {
        font-size: 1.6rem;
      }
    }
  }

  #seriesInfo {
    & ul {
      & li {
        & h3 {
          font-size: 1.8rem;
        }
        & div {
          & strong {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  #weakInfo {
    & table {
      & thead th {
        font-size: 1.8rem;
      }

      & tbody td {
        font-size: 1.6rem;
      }

      & span {
        font-size: 1.4rem;
      }
    }
  }

  #ecoInfo {
    p {
      font-size: 1.6rem;
    }
  }

  #relate {
    li {
      font-size: 1.6rem;
    }
  }
}

/* pc ~ 4k(1025px~) */
@media screen and (min-width: 1025px) {
  section h2 {
    font-size: 2.2rem;
  }

  #search,
  #content,
  #navigate,
  #title,
  #image,
  #basicInfo,
  #seriesInfo,
  #weakInfo,
  #ecoInfo,
  #relate {
    grid-column: 3 / 11;
  }

  #search {
    .searchListWrap {
      & ul {
        & span,
        strong {
          font-size: 1.6rem;
        }
      }
    }
  }

  #navigate {
    & nav {
      a {
        font-size: 1.8rem;
      }
    }
  }

  #image {
    & p {
      font-size: 2rem;
    }
  }

  #basicInfo {
    .infoList > li {
      & h3 {
        font-size: 2rem;
      }

      & p {
        font-size: 1.6rem;
      }

      & span {
        font-size: 1.8rem;
      }
    }
  }

  #seriesInfo {
    & ul {
      & li {
        & h3 {
          font-size: 2rem;
        }
        & div {
          & strong {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  #weakInfo {
    & table {
      & thead th {
        font-size: 2rem;
      }

      & tbody td {
        font-size: 1.8rem;
      }

      & span {
        font-size: 1.6rem;
      }
    }
  }

  #ecoInfo {
    p {
      font-size: 1.8rem;
    }
  }

  #relate {
    li {
      font-size: 1.8rem;
    }
  }

  #roulette {
    .rouletteWrap {
      width: 100rem;
      padding: 4rem;
    }

    & .team-inputWrap {
      & textarea {
        min-height: 30rem;
        font-size: 1.6rem;
      }

      & label {
        font-size: 1.6rem;

        & input {
          font-size: 1.6rem;
        }
      }
    }
    .teamGen {
      height: 60vh;
      display: flex;
      gap: 4rem;

      & div {
        width: 100%;
      }

      & .team-result {
        margin-top: 0;

        & ul {
          height: calc(100% - 60px);
        }
      }
    }
  }
}
